:root {
  --ifm-color-primary: #2e6de6;
  --ifm-color-primary-dark: #285fd0;
  --ifm-color-primary-darker: #2459c4;
  --ifm-color-primary-darkest: #1e49a2;
  --ifm-color-primary-light: #4b82ea;
  --ifm-color-primary-lighter: #5a8ded;
  --ifm-color-primary-lightest: #86a9f2;
}

